---
title: Clickmap
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/svg+xml" href="/cmd-c05621.svg" />
    <title>{{ title }}</title>
  </head>
  <body>
    <main id="content">
      {{ content | safe }}
    </main>
  </body>
</html>