/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@variants responsive {
  .mh-screen-90 {
    max-height: 90vh;
  }

  .t-20 {
    top: 20px;
  }
  .h-auto {
    height: auto;
  }
}
