/* Debugging styles
 * Add these to a class and they'll only apply when debug mode is enabled.
 */

key-map-ui[debug="true"] .debug-border-red {
  border-color: #fed7d7;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-border-green {
  border-color: #c6f6d5;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-border-purple {
  border-color: #e9d8fd;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-border-orange {
  border-color: #ea9904;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-border-teal {
  border-color: #b2f5ea;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-border-yellow {
  border-color: #fdf874;
  border-style: solid;
  border-width: 1px;
}
key-map-ui[debug="true"] .debug-bg-red {
  background-color: #fed7d7;
}
key-map-ui[debug="true"] .debug-bg-green {
  background-color: #c6f6d5;
}
key-map-ui[debug="true"] .debug-bg-purple {
  background-color: #e9d8fd;
}
key-map-ui[debug="true"] .debug-bg-orange {
  background-color: #feebc8;
}
key-map-ui[debug="true"] .debug-trans-bg-orange {
  background-color: rgba(254, 235, 200, 0.2);
}
key-map-ui[debug="true"] .debug-bg-teal {
  background-color: #b2f5ea;
}
key-map-ui[debug="true"] .debug-bg-yellow {
  background-color: #fefcbf;
}
key-map-ui[debug="true"] .debug-trans-bg-yellow {
  background-color: rgba(254, 252, 191, 0.2);
}
