/* Diagramming styles
 */

/* The diagram canvas element */
canvas.keyboard-diagram {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: visible;
}

/* A reference in prose to a key on the board.
 *
 */
span[is="key-indicator"] {
  text-overflow: truncate;
  background-color: var(--key-diagram-target-bg);
}
