/* Diagramming styles
 */

/* A div that contains the diagram canvas element */
.diagram-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* The diagram canvas element */
canvas.keyboard-diagram {
  position: absolute;
  overflow: visible;
}

/* A reference in prose to a key on the board.
 *
 */
.key-indicator {
  text-overflow: truncate;
  background-color: var(--key-diagram-target-bg);
}
