@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: remove-tailwind */
.text-2xs {
  font-size: 0.5em;
}

kbd {
  border: 0.1em solid #aaa;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0em 0.5em;
  background: linear-gradient(180deg, #fff, #fff, #fff, #ddd);
  color: #000;
  font-weight: bold;
}

main {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
}

@media (min-width: 768px) {
  main {
    font-size: 1rem;
  }
}

h1 {
  font-size: 1.875rem;
  padding: 1rem 0;
}

h1.site-title {
  font-size: 1.25rem;
  padding: 0.5rem 0;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

h2.keyboard-title {
  font-size: 1.25rem;
}

p {
  padding: 0.5rem 0;
}

a {
  color: var(--link-fg);
}

/* Used for NextJS <Link> components */
Link {
  color: var(--link-fg);

}

ul {
  padding: 1rem 0 1rem 2rem;
  list-style-type: disc;
}

button.guide-bar-button {
  padding: 0.25rem; /* p-1 */
  margin: 0.25rem; /* m-1 */
  border: 1px solid var(--button-border-color);
  width: 3rem; /* w-12 */
  font-size: 0.75rem; /* text-xs */
  color: var(--button-text-disabled);
}

button.guide-bar-button-enabled {
  color: var(--button-text-enabled);
  background-color: var(--button-bg-enabled);
}
