/* Styles
 */

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1 {
  font-size: 1.875rem;
  font-weight: inherit;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: inherit;
  padding: 1rem 0;
}

h2.keyboard-title {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: inherit;
}

h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  padding: 0.5rem 0;
}

a {
  color: var(--link-fg);
  cursor: pointer;
}

ul {
  padding: 1rem 0 1rem 2rem;
  list-style-type: disc;
}

kbd {
  border: 0.1em solid var(--kbd-border-color);
  border-radius: 0.2em;
  display: inline-block;
  padding: 0em 0.5em;
  background: var(--kbd-background);
  color: var(--kbd-fg);
  font-weight: bold;
}

button.guide-bar-button {
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid var(--button-border-color);
  width: 3rem;
  font-size: 0.75rem;
  color: var(--button-text-disabled);
}

button.guide-bar-button-enabled {
  color: var(--button-text-enabled);
  background-color: var(--button-bg-enabled);
}
