/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@variants responsive {
  .mh-screen-90 {
    max-height: 90vh;
  }

  .t-20 {
    top: 20px;
  }
  .h-auto {
    height: auto;
  }
}

.text-2xs {
  font-size: 0.5em;
}

kbd {
  border: 0.1em solid #aaa;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0em 0.5em;
  background: linear-gradient(180deg, #fff, #fff, #fff, #ddd);
  color: #000;
  font-weight: bold;
}
