/* Key, board, and grid styles
 * We use a base --keyboard-grid-unit variable, which lets us scale easily
 */

:root {
  --keyboard-grid-unit: 1rem;
  --kid-diamarg-width: calc(var(--keyboard-grid-unit) * 2);
}
@media (min-width: 900px) {
  :root {
    --keyboard-grid-unit: 1.25rem;
  }
}

/* A keyboard
 *
 * A keyboard is made up of one or more sub-boards.
 * A traditional keyboard just has one, while a split keyboard would have two.
 *
 * In smaller screen sizes, two halves should be shown vertically.
 * For larger screen sizes, they should be shown next to each other.
 */
div.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
}
@media (min-width: 768px) {
  div.keyboard {
    flex-direction: row;
  }
}

/* A sub-keyboard is a contiguous set of keys
 *
 * Each sub-board contains one or more keygrids.
 * A sub-board is independently positionable on the screen.
 *
 * It is made up of a title and a div containing the keygrids.
 */
div.keyboard-sub-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  > h2 {
    font-size: 1.125rem;
  }
  > .keygrid-container {
    display: flex;
  }
}
div.keyboard-sub-board-left {
  > h2 {
    margin-right: auto;
  }
  > .keygrid-container {
    flex-direction: row;
  }
}
div.keyboard-sub-board-right {
  > h2 {
    margin-left: auto;
  }
  > .keygrid-container {
    flex-direction: row-reverse;
  }
}

/* A grid of keys, like a keyboard would have */
div.keygrid {
  display: grid;
  pointer-events: none;
  user-select: none;
}

/* A single key */
button.keyboard-key {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  font-family: "Roboto Mono", monospace;
  pointer-events: auto;
  outline: none;
  position: relative;
  background-color: var(--button-bg-enabled);
  border: 1px solid var(--key-border);
  &:hover {
    background-color: var(--key-hover-bg);
  }
  &.active-key {
    background-color: var(--key-active-bg);
    border: 1px solid var(--key-active-border);
    &:hover {
      background-color: var(--key-active-hover-bg);
    }
  }
  &.related-to-active-key {
    background-color: var(--key-related-active-bg);
    border: 1px solid var(--key-related-active-border);
    &:hover {
      background-color: var(--key-related-active-hover-bg);
    }
  }
  &.diagram-target-key {
    background-color: var(--key-diagram-target-bg);
    border: 1px solid var(--key-diagram-target-border);
    &:hover {
      background-color: var(--key-diagram-target-hover-bg);
    }
  }

  &.legend-type-image {
  }
  &.legend-type-glyph {
    font-size: 0.875rem;
  }
  &.legend-type-text {
    font-size: 0.5rem;
  }
}
@media (min-width: 768px) {
  button.keyboard-key {
    &.legend-type-glyph {
      font-size: 1rem;
    }
    &.legend-type-text {
      font-size: 0.75rem;
    }
  }
}

/* A key that's not part of a keygrid */
.standalone-key {
  display: inline-block;
}

/* A key handle, which is an invisible element inside a key that can be used as an anchor point in a diagram */
.key-handle {
  height: 0.25rem; /* h-1 */
  width: 0.25rem; /* w-1 */
  margin: 0; /* m-0 */
  padding: 0; /* p-0 */
  border: none; /* border-none */
  pointer-events: none; /* pointer-events-none */
  position: absolute; /* absolute */
}

/* An image used as a legend for a key */
img.key-legend {
  width: 1rem;
  height: 1rem;
}

/* Left and right thumb clusters of an ErgoDox keyboard */
.keyboard-left-thumb-cluster {
  transform: translateX(calc(var(--keyboard-grid-unit) * -2))
    translateY(calc(var(--keyboard-grid-unit) * 6)) rotate(25deg);
  transform-origin: 0 calc(var(--keyboard-grid-unit) * 2);
  padding-bottom: calc(var(--keyboard-grid-unit) * 9);
}
.keyboard-right-thumb-cluster {
  transform: translateX(calc(var(--keyboard-grid-unit) * 2))
    translateY(calc(var(--keyboard-grid-unit) * 6)) rotate(-25deg);
  transform-origin: calc(var(--keyboard-grid-unit) * 6)
    calc(var(--keyboard-grid-unit) * 2);
  padding-bottom: calc(var(--keyboard-grid-unit) * 9);
}

.keymap-ui-kid-container {
  display: flex;
  .keymap-ui-diamarg {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    width: var(--kid-diamarg-width);
  }
  .keymap-ui-center-panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
    width: calc(100% - (var(--kid-diamarg-width) * 2));
  }
  .keymap-ui-keyinfo-container {
    bottom: auto; /* bottom-auto */
    top: 0; /* top-0 */
    left: 0; /* left-0 */
    right: 0; /* right-0 */
    border: 1px solid #d1d5db; /* border and border-gray-300 */
    background-color: #f7fafc; /* bg-gray-100 */
    border-radius: 0.375rem; /* rounded-md */
    padding: 1rem; /* p-4 */
    margin-bottom: 1rem; /* mb-4 */
    margin-left: auto; /* mx-auto */
    margin-right: auto; /* mx-auto */
    width: 100%; /* w-full */

    .key-info-prose {
      margin: 1.125rem 0;
    }
  }
}
