/* The key info panel */


.key-info-panel {
  p {
    padding: 0;
    margin: 1rem 0;
  }
}

.legend-attribution {
  h2 {
    font-size: 0.5rem;
    padding: 0;
  }
  p {
    font-size: 0.5rem;
    padding: 0;
  }
}
