/* The key info panel */

.key-info-panel {
  p {
    padding: 0;
    margin: 1rem 0;
  }
}

.legend-attribution {
  h2 {
    font-size: 0.5rem;
    padding: 0;
  }
  p {
    font-size: 0.5rem;
    padding: 0;
  }
}

clickmap-navbar {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--button-border-color);
  display: flex;
  flex-direction: column;

  input[type="checkbox"] {
    vertical-align: middle;
  }

  > ul.layer-tabs,
  > ul.guide-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    overflow-x: auto; /* Allow tabs to scroll horizontally */

    li {
      padding: 0.5em 1em;
      vertical-align: bottom;
    }
    li.layer-tab,
    li.guide-tab {
      padding: 0;
      button.layer-tab-button,
      button.guide-tab-button {
        border: 1px solid var(--button-border-color);
        &:hover {
          background-color: var(--button-bg-hover);
        }
        &:active {
          background-color: var(--button-bg-active);
        }
      }
    }
    &.hidden {
      display: none;
    }
  }

  > div.title-key-row {
    display: flex;
    padding: 0.5em;
    margin: 0.5em;

    > * {
      margin: 0 1em;
    }
  }

  span.controls-pair {
    display: inline-block;
    padding: 0.5em;
    select {
      margin-left: 1em;
    }

    /* Override display:inline-block by selecting for .hidden here again --
     * even though we already have a separate .hidden selector outside of span.controls-pair.
     */
    &.hidden {
      display: none;
    }
  }

  span.control-buttons {
    display: inline-block;
    margin: 0;
    padding: 0;
    > button {
      margin: 0;
      padding: 0;
      width: 2em;
      height: 2em;
    }
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  clickmap-navbar {
    flex-direction: column;
  }
}

button.control-button {
  padding: 0.25rem;
  margin: 0 0.5rem;
  height: 1.25rem;
  font-size: 85%;
  border: 1px solid var(--button-border-color);
  border-radius: 0.375rem;
  background-color: var(--button-bg-enabled);
  &:hover {
    background-color: var(--button-bg-hover);
  }
  &:active {
    background-color: var(--button-bg-active);
  }
}
