/* Variables used in other styles */

:root {
  --page-bg: white;
  --page-fg: black;
  --panel-bg: #f7fafc;

  /* Colors that apply to all buttons except keyboard keys
   */
  --button-border-color: #d1d5db;
  --button-text-enabled: black;
  --button-text-disabled: #9ca3af;
  --button-bg-enabled: #edf2f7;

  /* Colors that apply to keyboard-key buttons
   */
  --key-fg: black;
  --key-bg: #edf2f7;
  --key-border: #a0aec0;
  --key-hover-bg: #cbd5e0;
  --key-active-bg: #f6ad55;
  --key-active-border: #c05621;
  --key-active-hover-bg: #dd6b20;
  --key-related-active-bg: #feebc8;
  --key-related-active-border: #ed8936;
  --key-related-active-hover-bg: #f6ad55;
  --key-diagram-target-bg: #c6f6d5;
  --key-diagram-target-border: #48bb78;
  --key-diagram-target-hover-bg: #68d391;

  /* Colors that apply to kbd elements
   */
  --kbd-fg: black;
  --kbd-border-color: #aaa;
  --kbd-background: linear-gradient(180deg, #fff, #fff, #fff, #ddd);

  /* These variables are not used in CSS,
   * but the JavaScript code that draws the diagram reads them from here and uses them.
   * We just want to set all the colors in the same place.
   */
  --diagram-line-textref-color: #68d391ff; /* Opaque, because this green is pretty light */
  --diagram-line-selected-color: #fbd38d99; /* Slightly transparent, because this orange is pretty dark */
  --diagram-debug-center-line-color: cornflowerblue;
  --diagram-debug-keyboard-color: khaki;
  --diagram-debug-left-color: lawngreen;
  --diagram-debug-right-color: red;

  --link-fg: rgba(49, 130, 206, 1);
}
