:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #c05621;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 1.5rem;
  margin-block: 0.67em;
}

a {
  color: var(--color-primary);
}

nav#sidebar {
  height: 100vh;
  width: 13rem;
  padding: 0.5rem;
  border-right: 1px solid var(--color-primary);
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 1rem;
    }
  }
}

main#content {
  flex: 1;
  max-width: 1280px;
  padding: 2rem;
  overflow-y: auto;
}

ul.site-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline;
    margin-right: 2rem;
    * {
      margin-right: 0.5rem;
    }
  }
}

keymap-ui {
  margin: 2rem 0;
  padding: 1rem 0;
}

div.site-footer {
  margin-top: 2rem;
}
