:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #c05621;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 1.5rem;
  margin-block: 0.67em;
}

a {
  color: var(--color-primary);
}

nav#sidebar {
  height: 100vh;
  width: 13rem;
  padding: 0.5rem;
  border-right: 1px solid var(--color-primary);
  overflow-y: auto;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 1rem;
    }
  }
}

main#content {
  flex: 1;
  max-width: 1280px;
  padding: 2rem;
  overflow-y: auto;
}

ul.site-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline;
    margin-right: 2rem;
    * {
      margin-right: 0.5rem;
    }
  }
}

keymap-ui {
  margin: 2rem 0;
  padding: 1rem 0;
}

div.site-footer {
  margin-top: 2rem;
}

.menu-toggle {
  display: none;
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 2rem;
  cursor: pointer;
  font-size: 1rem;

  /* On mobile, without this, there is a slight delay before elements receive click events,
   * apparently to allow time for double-tap.
   * This tells the browser that the touch action is a single tap,
   * so the element will receive click events immediately.
   */
  touch-action: manipulation;
}

/* Before changing the max-width value, test it with a wide keyboard like the ErgoDox
 */
@media (max-width: 1199px) {
  body {
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
  }

  nav#sidebar {
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    border-right: none;
    border-bottom: 1px solid var(--color-primary);
  }

  nav#sidebar.open {
    max-height: 100vh;
    overflow-y: auto;
  }

  main#content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: 1rem;
  }

  main#content {
    padding: 1rem;
  }
}
