:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

body.page {
  margin: 4rem;
}

div.site-title-bar {
  margin-bottom: 2rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul.site-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline;
    margin-right: 2rem;
    * {
      margin-right: 0.5rem;
    }
  }
}

clicky-ui {
  border: 1px solid black;
}

div.site-footer {
  margin-top: 2rem;
}
