/* Variables used in other styles
 *
 * Print a list of all variables that aren't used outside of this file:
 *    grep -o -e "--[a-zA-Z0-9-]\+"  src/styles/vars.css | while read v; do if ! rg -g '!path/to/this/file.css' -q -- "$v" src; then echo $v; fi; done
 */

/* The :root is the top level of the light DOM, and the :host is the top level of the shadow DOM.
 */
:root,
:host {
  /* Colors that apply to all buttons except keyboard keys
   */
  --button-border-color: #d1d5db;
  --button-text-enabled: black;
  --button-text-disabled: #9ca3af;
  --button-bg-enabled: #edf2f7;
  --button-bg-hover: #e2e8f0;
  --button-bg-active: #d4e4f7;

  /* Colors that apply to keymap-key buttons
   */
  --key-fg: black;
  --key-bg: #edf2f7;
  --key-border: #a0aec0;
  --key-hover-bg: #cbd5e0;
  --key-active-bg: #f6ad55;
  --key-active-border: #c05621;
  --key-active-hover-bg: #dd6b20;
  --key-related-active-bg: #feebc8;
  --key-related-active-border: #ed8936;
  --key-related-active-hover-bg: #f6ad55;
  --key-diagram-target-bg: #c6f6d5;
  --key-diagram-target-border: #48bb78;
  --key-diagram-target-hover-bg: #68d391;
  --key-focus-bg: #e2e8f0;
  --key-active-focus-bg: #e8a34f;
  --key-related-active-focus-bg: #f0d7a9;
  --key-diagram-target-focus-bg: #a9e3ba;
  --key-legend-font: monospace;

  /* Colors that apply to kbd elements
   */
  --kbd-fg: black;
  --kbd-border-color: #aaa;
  --kbd-background: linear-gradient(180deg, #fff, #fff, #fff, #ddd);

  /* These variables are not used in CSS,
   * but the JavaScript code that draws the diagram reads them from here and uses them.
   * We just want to set all the colors in the same place.
   */
  --diagram-line-textref-color: #68d391ff; /* Opaque, because this green is pretty light */
  --diagram-line-selected-color: #fbd38d99; /* Slightly transparent, because this orange is pretty dark */
  --diagram-debug-center-line-color: cornflowerblue;
  --diagram-debug-keyboard-color: khaki;
  --diagram-debug-left-color: lawngreen;
  --diagram-debug-right-color: red;

  /* Other colors
   */
  --link-fg: rgba(49, 130, 206, 1);

  /* Key, board, and grid styles
   * We use a base --keyboard-grid-unit variable, which lets us scale easily
   */
  --keyboard-grid-unit: 0.75rem;
  --kid-diamarg-width: calc(var(--keyboard-grid-unit) * 2);
}

@media (min-width: 600px) {
  :root,
  :host {
    --keyboard-grid-unit: 1rem;
  }
}

@media (min-width: 900px) {
  :root,
  :host {
    --keyboard-grid-unit: 1.25rem;
  }
}
