---
title: keymap.click
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/svg+xml" href="/cmd-c05621.svg" />

    <!--TODO: does this mean that changes to these files don't get picked up in dev mode? :(-->
    <script type="importmap">
    {
      "imports": {
        "@keymap.click/ui": "/keymap.click/keymap.click.js",
        "@keymap.click/keyboard.ergodox": "/keymap.click/keyboard.ergodox.js",
        "@keymap.click/keyboard.planck48": "/keymap.click/keyboard.planck48.js",
        "@keymap.click/layout.mrlergo": "/keymap.click/layout.mrlergo.js"
      }
    }
    </script>

    <script src="https://cdn.usefathom.com/script.js" data-site="HDMUSVII" defer></script>
    <script src="/common.js" defer></script>
    <title>{% if eleventyNavigation and eleventyNavigation.title %}{{ eleventyNavigation.title }}{% else %}{{ title }}{% endif %}</title>

  </head>
  <body>
    <nav id="sidebar">
      <h1><a href="/">keymap.click</a></h1>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
    <main id="content">
      <h1>{{ title | safe }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>