/* The key info panel */

.key-info-panel {
  p {
    padding: 0;
    margin: 1rem 0;
  }
}

.legend-attribution {
  h2 {
    font-size: 0.5rem;
    padding: 0;
  }
  p {
    font-size: 0.5rem;
    padding: 0;
  }
}

keymap-navbar {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--button-border-color);
  display: flex;
  flex-direction: column;

  input[type="checkbox"] {
    vertical-align: middle;
  }

  & > ul.layer-tabs,
  & > ul.guide-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    overflow-x: auto; /* Allow tabs to scroll horizontally */

    li {
      padding: 0.5em 1em;
      vertical-align: bottom;
    }
    li.layer-tab,
    li.guide-tab {
      padding: 0;
      button.layer-tab-button,
      button.guide-tab-button {
        /* Style like keys */
        padding: 0.25rem 0.5rem;
        border-radius: 0.125rem;
        font-family: var(--key-legend-font);
        color: var(--key-fg);
        background-color: var(--key-bg);
        border: 1px solid var(--key-border);
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: var(--key-hover-bg);
        }
        &:focus {
          background-color: var(--key-focus-bg);
        }
        &:active {
          background-color: var(--key-active-bg);
        }
      }
      button.layer-tab-button.active {
        background-color: var(--key-active-bg);
        border-color: var(--key-active-border);

        &:hover {
          background-color: var(--key-active-hover-bg);
        }
        &:focus {
          background-color: var(--key-active-focus-bg);
        }
      }
    }
  }

  .title-key-row {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;

    & > * {
      margin: 0 1em;
    }
  }

  .layer-tabs,
  .guide-list {
    display: flex;
    align-items: center;
  }

  .controls-pair {
    display: flex;
    align-items: center;
    padding: 0.5em;
    select {
      margin-left: 1em;
    }

    select#keymap {
      max-width: 15em;
      text-overflow: ellipsis;
    }
  }

  span.control-buttons {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

@container (max-width: 650px) {
  keymap-navbar {
    flex-direction: column;
  }
}

button.control-button {
  /* Style like keys */
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  font-family: var(--key-legend-font);
  font-size: 85%;
  color: var(--key-fg);
  background-color: var(--key-bg);
  border: 1px solid var(--key-border);
  border-radius: 0.125rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: var(--key-hover-bg);
  }
  &:focus {
    background-color: var(--key-focus-bg);
  }
  &:active {
    background-color: var(--key-active-bg);
    border-color: var(--key-active-border);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
