@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-rows-10-keyb {
  grid-template-rows: repeat(10, 1.5rem);
}
.grid-cols-15-keyb {
  grid-template-columns: repeat(15, 1.5rem);
}
.grid-rows-6-keyb {
  grid-template-rows: repeat(6, 1.5rem);
}
.grid-cols-6-keyb {
  grid-template-columns: repeat(6, 1.5rem);
}